.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  /* background-color: rgba(146, 70, 158, 1); */
  /* background-color: #f4f4f4; */
  background-color: hsl(184, 29%, 55%);
}

.container {
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  background-color: #fff;
  justify-content: space-evenly;
}

h2 {
  color: hsl(184, 29%, 55%);
}

input {
  margin-left: 4px;
}
.success-message {
  font-family: "Roboto", sans-serif;
  background: rgba(146, 70, 158, 1);
  padding: 15px;
  color: white;
}

.try-again {
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-top: 35px;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 7px;
  color: black;
  margin-bottom: 18px;
  background-color: rgba(40, 85, 158, 0.12);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
